.nav-container {
    width: 400px;
    height: 100%;
    background-color: rgb(95, 186, 164);
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.nav-add-todo-button {
    background-color: rgb(108, 219, 191);
    color: rgb(64, 64, 64);
    margin: 30px;
    width: 55px;
    font-size: 3rem;
    border-style: none;
    border-radius: 3rem;
}

.nav-add-todo-button:hover {
    background-color: rgb(65, 129, 113);
    color: rgb(231, 231, 231);
}

.form-fieldset {
    display: flex; 
    flex-direction: column;
}

.project-container {
    display: flex; 
    justify-content: space-evenly;
    width: 90%;
    flex-direction: column;
    align-items: center;

}

.default-projects-container {
    width: 250px;
    gap: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
}


.custom-projects-container {
    width: 250px;
    max-height: 80%;
    margin-top: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.project {
    border: none;
    background-color: rgb(220, 255, 243);
    font-size: 1.2rem;
    padding: 3px;
    border-radius: 5px;
    display: flex;
    padding-left: 15px;

}

.project:hover {
    background-color:rgb(8, 125, 97);
    color: white;
}

.lightup-current-project {
    background-color:rgb(8, 125, 97);
    color: white;
}